footer
    background: $footerbg
    padding: 0
    .container
        display: flex
        flex-direction: column
        .info-block
            display: flex
            i
                margin-top: 1rem
            p
                margin-left: 1rem
    .info
        img
            width: 45%
    .links
        display: flex
        flex-direction: column
        ul
            margin: 1rem 0
            li
                line-height: 1.5
    .social
        display: flex
        justify-content: center
        .icon
            margin: 0 .5rem
            width: 48px
            height: 48px
            border: 2px solid white
            border-radius: 50%
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            transition: all .5s ease-in-out
            &:hover
                background: white
                color: $footerbg
            i
                font-size: 1.5rem
    
    