header
    background: $introbg url('../images/bg-curvy-desktop.svg') no-repeat bottom center
    color: white
    padding: 20px 0 40px
    img
        width: 80%
        +md
            width: 75%
        +lg
            width: 65%
        +xl
            width: 50%
    h2
        margin: 20px 0
    p
        line-height: 1.5
        margin-bottom: 20px
    button
        border: none
        color: white
        border-radius: 20px
        padding: 1rem 6rem
        cursor: pointer
        background: -webkit-linear-gradient(left, rgba(101,226,217,1) 25%,rgba(51,158,204,1) 99%) 