nav
    background: $introbg
    padding: 20px 0
    .container
        display: flex
    .logo
        img
            width: 50%
    .links
        margin-left: auto
        ul
            display: flex
            align-items: center
            height: 100%
            li
                margin-left: .5rem
                margin-right: .5rem