nav
    position: absolute
    top: 3rem
    left: 0
    right: 0
    color: white
    height: 4rem
    
    .container
        display: flex
        align-items: center
        height: 100%

    .logo
        display: flex
        align-items: center
        img
            width: 70%

    .links
        list-style: none
        display: flex
        margin-left: auto

        li
            padding: 0 .75rem