#subscribe
    margin: 0 auto
    background: $introbg
    padding: 2rem
    width: 90%
    position: absolute
    +md
        width: 80%
    h2
            margin-top: 0
    form
        input, button
            display: block
            margin: auto
        input
            border: none
            width: 100%
            padding: 1rem 2rem
            border-radius: 2rem
            margin: 2rem 0 1rem
        button
            border: none
            color: white
            width: 100%
            border-radius: 20px
            padding: 1rem 2rem
            cursor: pointer
            background: -webkit-linear-gradient(left, rgba(101,226,217,1) 25%,rgba(51,158,204,1) 99%)
            @media (max-width: 374px)
                padding: 1rem