doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Landing Page Starter Kit
        link(rel='stylesheet', href='assets/css/main.css')
    body
        nav
            .container
                .logo
                    img(src="assets/images/logo.svg", alt="Logo")
                .links
                    ul
                        li
                            a(href="#") Features
                        li
                            a(href="#") Team
                        li
                            a(href="#") Sign In

        header.text-center
            .container
                img(src="assets/images/illustration-intro.png", alt="Intro")
                h1 All your files in one secure location, accessible anywhere.
                p Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
                button Get Started

        section#features.text-center
            .container
                .featbox
                    img(src="assets/images/icon-access-anywhere.svg", alt="Access anywhere")
                    h2 Access your files, anywhere
                    p The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.
                .featbox
                    img(src="assets/images/icon-security.svg", alt="Security")
                    h2 Security you can trust
                    p 2-factor authentication and user controlled encryption are just a couple of the security features we allow to help secure your files.
                .featbox
                    img(src="assets/images/icon-collaboration.svg", alt="Collaboration")
                    h2 Real-time collaboration
                    p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
                .featbox
                    img(src="assets/images/icon-any-file.svg", alt="Any file")
                    h2 Store any type of file
                    p Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securly sotred and shared.

        script(src='assets/js/main.js')