doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Landing Page Starter Kit
        link(rel='stylesheet', href='assets/css/main.css')
    body
        nav
            .container
                .logo
                    img(src="assets/images/logo.svg", alt="Logo")
                .links
                    ul
                        li
                            a(href="#") Features
                        li
                            a(href="#") Team
                        li
                            a(href="#") Sign In

        script(src='assets/js/main.js')