doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Landing Page Starter Kit
        link(rel='stylesheet', href='assets/css/main.css')
    body
        h1.cap Landing page starter kit

        script(src='assets/js/main.js')