doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Landing Page Starter Kit
        link(rel='stylesheet', href='assets/css/main.css')
    body
        header.text-center
            .container
                img(src="assets/images/illustration-intro.png", alt="Intro")
                h1 All your files in one secure location, accessible anywhere.
                p Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
                button Get Started

        section#features.text-center
            .container
                .featbox
                    img(src="assets/images/icon-access-anywhere.svg", alt="Access anywhere")
                    h2 Access your files, anywhere
                    p The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.
                .featbox
                    img(src="assets/images/icon-security.svg", alt="Security")
                    h2 Security you can trust
                    p 2-factor authentication and user controlled encryption are just a couple of the security features we allow to help secure your files.
                .featbox
                    img(src="assets/images/icon-collaboration.svg", alt="Collaboration")
                    h2 Real-time collaboration
                    p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
                .featbox
                    img(src="assets/images/icon-any-file.svg", alt="Any file")
                    h2 Store any type of file
                    p Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securly sotred and shared.

        section#productive
            .container
                .image
                    img(src="assets/images/illustration-stay-productive.png", alt="Stay productive")
                .content
                    h2 Stay productive, wherever you are
                    p Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
                    p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
                    a(href="#") See how fylo works
                        i.fa.fa-arrow-circle-right

        section#testimonials
            img.quotes(src="assets/images/bg-quotes.png", alt="Quotes")
            .container
                .card
                    p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                    .author
                        .img
                            img(src="assets/images/profile-1.jpg", alt="Profile")
                        .content
                            h3 Satish Patel
                            p Founder &amp; CEO, Huddle
                .card
                    p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                    .author
                        .img
                            img(src="assets/images/profile-2.jpg", alt="Profile")
                        .content
                            h3 Bruce McKenzie
                            p Founder &amp; CEO, Huddle
                .card
                    p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                    .author
                        .img
                            img(src="assets/images/profile-3.jpg", alt="Profile")
                        .content
                            h3 Iva Boyd
                            p Founder &amp; CEO, Huddle

        section#subscribe.text-center
            h2 Get early access today
            p It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
            form
                input(type="email" placeholder='example@email.com')
                button(type='button' role='submit') Get Started For Free

        footer
            .container
                .info
                    img(src="assets/images/logo.svg", alt="Logo")
                    .info-block
                        i.fa.fa-map-marker
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum est asperiores ab repudiandae. Laudantium asperiores, quos error doloremque rerum laborum.
                .contact
                    .info-block
                        i.fa.fa-phone
                        p +-543-123-4567
                    .info-block
                        i.fa.fa-envelope
                        p example@fylo.com
                .links
                    ul
                        li
                            a(href="#") About Us
                        li
                            a(href="#") Jobs
                        li
                            a(href="#") Press
                        li
                            a(href="#") Blogs
                    ul
                        li
                            a(href="#") Contact Us
                        li
                            a(href="#") Teams
                        li
                            a(href="#") Privacy
                .social
                    .icon
                        i.fa.fa-facebook
                    .icon
                        i.fa.fa-twitter
                    .icon
                        i.fa.fa-instagram

        script(src='assets/js/main.js')