doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Landing Page Starter Kit
        link(rel='stylesheet', href='assets/css/main.css')
    body
        nav
            .container
                .logo
                    img(src="assets/images/logo.svg", alt="Logo")
                .links
                    ul
                        li
                            a(href="#") Features
                        li
                            a(href="#") Team
                        li
                            a(href="#") Sign In

        header
            .container
                img(src="assets/images/illustration-intro.png", alt="Intro")
                h1 All your files in one secure location, accessible anywhere.
                p Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
                button Get Started

        script(src='assets/js/main.js')