.text-center
    text-align: center

.cap
    text-transform: capitalize

.upper
    text-transform: uppercase

.container
    padding: 0 1rem
    max-width: 1100px
    margin: auto
    +sm
        width: 480px
    +md
        width: 620px